spring:
  application:
    name: kome-api

  # 设置默认激活的环境。
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    # 生产环境 Docker 会注入这些环境变量
    url: jdbc:mysql://${DB_HOST}:3306/${DB_NAME}?serverTimezone=Asia/Shanghai
    username: ${DB_USER}
    password: ${DB_PASSWORD}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha